---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
import Introduction from '../components/Intoduction.astro';
import Navbar from '../components/Navbar.astro';
const allPosts = await Astro.glob('../pages/article/*.md');

---
<Navbar />
<Layout title="Pedro Ortiz">
	<main>
		<Introduction />
		<div class="articleListTitle">
			📕 {allPosts.length} artigos até agora.
		</div>
		<table>
			<td>
				<ArticleList />
			</td>
			<td>
				teste
			</td>
		</table>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1300px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.articleListTitle {
		width: 60%;
		margin-bottom: 1%;
		margin-left: 6%;
	}
</style>

