---
const allPosts = await Astro.glob('../pages/article/*.md');
---

{
  allPosts.map((post) => (
    <a href={post.url}>
      <div class="box">
        <div class="titleSubtitle">
          <h3>{post.frontmatter.title}</h3>
          <p><small>{post.frontmatter.subtitle}</small></p>
        </div>
        <hr>
        <div class="footer">
          <small>{post.frontmatter.readingTime}</small> <small>{post.frontmatter.tags.join(', ')}</small>
        </div>
      </div>

    </a>
  ))
}
<style>
  img {
    width: 100px;
    padding: 10px;
  }

  .box {
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    border-color: white;
    background-color:#252933;
  }

  .box h3 {
    margin-top: 0px;
    margin-bottom: -30px;
  }

  .footer small {
    color: #919191;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
</style>

          
        