---
import { Icon } from 'astro-icon'
import { Image } from "astro:assets";
---
<title>Pedro Ortiz</title>
<div class="container">
  <div class="left-column">
    <h1>Olá, me chamo Pedro Ortiz.</h1>
    <p>Sou um programador backend Java com uma grande paixão por cibersegurança, erros grandes demais para um terminal e café.</p>
    <p>Estudando sobre segurança com aplicações web, SCISP e desenvolvimento mobile.</p>
    <p>Atualmente eu resido em Santa Maria (RS), mas também estou em outro lugares como:</p>
    <a href="https://github.com/pedropsortiz" target="_blank"><Icon pack="mdi" name="github" /></a>
    <a href="https://linkedin.com/in/pedropsortiz/" target="_blank"><Icon pack="mdi" name="linkedin" /></a>
    <a href="mailto:pedrops.ortiz@gmail.com" target="_blank"><Icon pack="mdi" name="at" /></a>
  </div>
  <div class="right-column">
      <Image
        id="minha-foto"
        alt="Foto de perfil"
        quality={100}
        class="profile-image"
        src={'https://avatars.githubusercontent.com/u/78219497?v=4'}
        width={450}
        height={450}
        sizes=""
      />
  </div>
</div>
<style lang="css">
    [astro-icon] {
        width: 40px;
        padding: 5x;
    }

    a { color: inherit; } 

    .container {
      display: flex;
      margin: auto;
      width: 90%;
      padding: 10px;
    }

    .left-column {
      flex: 1;
      padding: 20px;
    }

    .right-column {
      flex: 1;
      padding: 20px;
    }

    .profile-image {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
</style>