---
import { Icon } from 'astro-icon'
import { Image } from "astro:assets";
---

<h1>Olá, sou o Pedro Ortiz</h1>
<p>Sou um programador backend Java com uma grande paixão por cibersegurança e café</p>
<p>No momento estou estudando sobre segurança para aplicações WEB, SCISP e desenvolvimento mobile</p>
<p>Atualmente eu resido em Santa Maria (RS), mas estou por toda a parte na internet, confira aqui:</p>
<a href="https://github.com/pedropsortiz" target="_blank"><Icon pack="mdi" name="github" /></a>
<a href="https://linkedin.com/in/pedropsortiz/" target="_blank"><Icon pack="mdi" name="linkedin" /></a>
<a href="mailto:pedrops.ortiz@gmail.com" target="_blank"><Icon pack="mdi" name="at" /></a>
<div>
    <Image
      id="minha-foto"
      alt="Foto de perfil"
      quality={100}
      class="rounded-md z-2 outline outline-1 rounded outline-body-500 h-full bg-body-900"
      src={'https://avatars.githubusercontent.com/u/78219497?v=4'}
      width={400}
      height={400}
      sizes=""
    />
</div>
<style lang="css">
    [astro-icon] {
        width: 40px;
        padding: 5x;
    }
    a { color: inherit; } 
</style>