<h1>Olá, sou o Pedro Ortiz</h1>
<p>Sou um programador backend Java com uma grande paixão por sistemas de segurança e café</p>
<p>No momento estou estudando sobre segurança para aplicações WEB, SCISP e desenvolvimento mobile</p>
<p>Atualmente eu resido em Santa Maria (RS), mas estou por toda a parte na internet, confira aqui:</p>
